<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SQL Translator - Dictionaries</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
					<div class="form-group">
					</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-10">
				<div th:if="not ${dictionaries.isEmpty()}">
					<form action="selectDictionary" method="POST">
						<select class="form-control" th:field="*{name}">
  							<option th:each="dict: ${dictionaries}" th:value="${dict.name}" th:utext="${dict.name}" />
						</select>
					</form>
				</div>
				<div th:if="${dictionaries.isEmpty()}">
					Please, first choose dictionary
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10">
				<!-- to do wyswietlanie -->
			</div>
		</div>
	</div>

</body>
</html>